
services:
  frontend:
    build: .
    container_name: fe-purmamarca
    ports:
      - "8080:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    command: npm run dev
