@import "tailwindcss";

@layer base {
  :root {
    --color-background: #f8e8d5;
    --color-primary: #213721;
    --color-secondary: #9f9587;
    --color-tertiary: #6a994e;
    --color-maroon: #76644c;

  }
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  padding: 0;
}