@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

/* 🎨 Tema con variables */
@theme inline {
  --color-background: #f8e8d5;
  --color-suave: #fbd6a2;
  --color-subtitle: #91491a;
  --color-primary: #213721;
  --color-secondary: #9f9587;
  --color-tertiary: #6a994e;
  --color-maroon: #76644c;
  --color-chocolate: #612608;

  --font-body: var(--font-abeezee), sans-serif;
}

@layer base {
  body {
    font-family: var(--font-body);
    background-color: var(--color-background);
    margin: 0;
    padding: 0;
  }
}

@layer utilities {
  /* Quitar scrollbar */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE/Edge */
    scrollbar-width: none; /* Firefox */
  }
  .text-stroke {
    -webkit-text-stroke: 0.3px #612608;
  }
  .text-stroke-2 {
    -webkit-text-stroke: 1px #612608;
  }
}
